.App {
  background-color: white;
}

.Login-form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Login-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 20%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Login-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Login-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: #222222;
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #222222;
}